In [3]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

# 1 . Try to reverse a list

In [23]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [5]:
l.reverse() #can also use [::-1]
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

# 2. try to access 234 out of this list

In [26]:
l.reverse()

In [27]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [29]:
l[7][0]

234

# 3 . try to access 456

In [30]:
l[5][1]

456

In [8]:
list(l[8].keys())[1]

234

# 4 . Try to extract only a list collection form list l

In [34]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

# 5 . Try to extract "sudh"

In [37]:
l[-1]['key1']

'sudh'

# 6 . Try to list all the key in dict element avaible in list

In [9]:
list(l[-1].keys())

['key1', 234]

# 7 . Try to extract all the value element form dict available in list

In [43]:
l[-1].values()

dict_values(['sudh', [23, 45, 656]])