q1 : Try to print a prime number in between 1 to 1000

In [9]:
def prime(n, m):
    for i in range(1,1001):
        if i >1:
            for j in range(2,i):
                if i%j == 0:
                    break
            else:
                print(i)

In [10]:
prime(1,10001)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

q2 : Try to write a function which  is equivalent  to print function in python

In [16]:
def prnt(*n):
    return (n)

In [17]:
prnt("ifhi5erhbnfierhbfirhf", 2345)

('ifhi5erhbnfierhbfirhf', 2345)

q3 : Try to write a function which is a replica of list append , extend and pop function

In [34]:
m

[23, 455, 6, 567, 'medha', 1223, 'm', 'i', 's', 'h', 'r']

q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [60]:
c = lambda a,*b: str(a+b)

In [63]:
str(c("medha" "mishra"))

TypeError: can only concatenate str (not "tuple") to str

q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [67]:
w = lambda : [i**2 for i in range(1,100)]

In [68]:
w()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [72]:
z= lambda a,b: a+b
z(2,4)

6

In [74]:
x = lambda c,d : c-d
x(6,3)

3

In [75]:
q = lambda e,f : e%f
q(9,3)

0

In [76]:
r= lambda y,u: y*u
r(78,67)

5226

In [78]:
q= lambda x: x+1
q(345)

346

In [80]:
o= lambda r: r*10
o(10)

100

In [91]:
w= lambda: [i**3 for i in range(1,11)]
w()

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [105]:
a=1
b=1
l=[]
for i in range(1,10):
    l.append(a)
    a,b=b, a+b
print(l)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
j= lambda

q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [121]:
m= open("medha.txt", "w")

In [122]:
m.write("heloo moto hows you")

19

In [125]:
m.close()

In [127]:
f= open("medha.txt", "r")

In [128]:
f.read()

'heloo moto hows you'